/**
* Filename    : style.css
* Date        : 2018-08-15
* Description : Style file
**/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
}
input, a, a:hover, button, button:hover {
	transition: all 0.4s;
}
.clear {
	clear: both;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}

/* Common Style */
button {
	border: none;
	background: #07387a;
	padding: 10px 12px;
	color: white;
	border-radius: 8px;
	font-size: 16px;
	opacity: 1;
}
button:hover {
	opacity: 0.9;
}
i.fas {
	font-family: "Fontawesome";
}

/* Header Style */
.header {
	height: 85px;
}
.header .container {
	background:linear-gradient(white, #EEEEEE);
}
.header .logo {
	float: left;
}
.header .logo a img {
	border: none;
}
.header .logo a:hover, .header .logo a:link, .header .logo a:focus, .header .logo a:active {
	text-decoration: none;
}
.header .nav {
	float: left;
	margin-top: 30px;
}
.header .nav ul, .header .nav li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.header .nav li {
	float: left;
	margin-left: 20px;
}
.header .nav li a {
	color: #222;
	font-size: 25px;
}
.header .nav li a:hover {
	text-decoration: none;
}
.header .top-right {
	float: right;
}
.header .top-right button {
	margin-top: 30px;
}

/* Content */
.content .container {
	padding: 0;
}
.content .banner {
	position: relative;
	width: 100%;
}
.content .banner .caption {
	position: absolute;
	width: 530px;
	left: 30px;
	text-align: center;
	top: 30%;
	font-family: "Gadugi";
}
.content .banner .caption h2 {
	color: white;
	font-weight: normal;
	font-size: 50px;
}
.content .banner .caption p {
	color: white;
	font-size: 22px;
	letter-spacing: 1px;
}
.content .sub-banner {
	padding-top: 10px;
	background: url("../images/subbg.jpg") no-repeat left top;
	background-size: cover;
	position: relative;
}
.content .sub-banner .col-sm-2 {
	padding: 0;
	padding-left: 2px;
}
.content .sub-banner .col-sm-2 .sub-item {
	text-align: center;
	background: #000147;
	padding: 20px 12px 10px 10px;
	opacity: 0.9;
	position: relative;
}
.content .sub-banner .go-bottom {
	position: absolute;
	width: 36px;
	height: 28px;
	background: #f2d59c;
	border-radius: 4px 4px 0 0;
	text-align: center;
	bottom: 0;
	left: calc(50% - 18px);
}
.content .sub-banner .go-bottom i {
	color: #222;
}
.content .sub-banner .go-bottom a {
	opacity: 1;
	display: block;
}
.content .sub-banner .go-bottom a:hover {
	opacity: 0.8;
}
.sub-item i.fas {
	color: #f2d59c;
	position: absolute;
	top: -7px;
	left: calc(50% - 12px);
}
.content .sub-banner .col-sm-2:first-child {
	padding-left: 0;
}
.sub-banner .col-sm-2 h6 {
	color: white;
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
}
.sub-banner .col-sm-2 p {
	color: white;
	font-size: 14px;
}

/* What We Do section */
#whatwedo {
	height: 100vh;
	text-align: center;
}
#whatwedo h1 {
	font-size: 50px;
	color: #000;
	margin-top: 50px;
	margin-bottom: 30px;
}
#whatwedo p {
	color: #333;
	font-size: 25px;
	padding: 20px;
}

/* Responsive */
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}